* {
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: rgb(45, 45, 45);
}

body {
    background-color: #e9e9e9;
}

.info a {
    text-decoration: none;
}

.info b {
    font-size: 2rem;
}

.info p {
    font-size: 2rem;
    text-align: center;
    font-weight: lighter;
}

.head {
    background: linear-gradient(135deg, rgba(222,247,229, 0.75), rgba(146,227,169, 0.75)), url("./img/c.png");
    display: flex;
    justify-content: space-around;
    background-position: top;
    background-size: cover;
    padding: 5rem 0;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-main {
    display: flex;
}

.info {
    width: 80%;
    margin-right: 5%;
}

h1 {
    text-transform: uppercase;
    font-size: 6.5rem;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 60%;
    margin: 2.5rem 0 2.5rem 2rem;
    background-color: #f3f3f3;
    padding: 5rem;
}

.lateral {
    position: sticky;
    top: 25;
    margin: 2.5rem 2.5rem 0 2.5rem;
    width: 22.5vw;
    background-color: #f3f3f3;
    color: black;
    padding: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.lateral p span {
    font-size: 2rem;
    background-color: rgba(0, 131, 92, 1);
    color: #e9e9e9;
}

.lateral p {
    margin-top: 1rem;
    font-size: 2rem;
    background-color: rgba(0, 131, 92, 1);
    color: #e9e9e9;
    text-align: center;
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
}

.lateral div a {
    cursor: pointer;
    margin: 0.5rem 0;
    font-size: 1.5rem;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: rgba(0, 131, 92, 1);
}

#banner {
    width: 40%;
    padding-left: 20%;
}

footer {
    width: 96%;
    padding: 2%;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f3f3f3;
    color: #b4b4b4;
}

/*///////////*/
/* Contenido */
/*///////////*/
h2 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 131, 92, 1);
    color: #f3f3f3;
    font-size: 4rem;
    margin: 1rem 0;
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(45, 45, 45);
    font-size: 3.5rem;
    padding-left: 2.5rem;
    margin: 1rem 0;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(45, 45, 45);
    font-size: 2rem;
    padding-left: 5rem;
    margin: 1rem 0;
}

.tema {
    text-align: justify;
    font-size: 2rem;
    padding: 1rem 5rem 2.5rem 5rem;
}

main p, ul, li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: justify;
    padding-left: 5rem;
    color: rgb(45, 45, 45);
}

b {
    font-size: 1.5rem;
    color: rgb(45, 45, 45);

}

ul {
    list-style-position: inside; 
}

pre {
    font-size: 1.5rem;
    text-align: justify;
    padding-left: 5rem;
}


main img {
    width: 80%;
    display: block;
    margin: 1rem auto;
    -webkit-box-shadow: 0px 1px 17px 2px rgba(0,0,0,0.58); 
    box-shadow: 0px 1px 17px 2px rgba(0,0,0,0.58);
}

.sub {
    font-size: 2.5rem;
}

.gist {
    margin-left: 5rem !important;
}

.ejemplo {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 2rem;
}

#menu {
    display: none;
}

@media (max-width: 1200px) {
    * {
        font-size: 11px;
    }

    #menu {
        display: block;
        width: 5rem;
        position: absolute;
        top: 5;
        right: 10px;
        cursor: pointer;
        z-index: 3;
        background-color: rgb(0, 80, 56);
        padding: 1rem;
        border-radius: 0.5rem;
    }

    .lateral {
        margin: 0;
        width: 100%;
        background-color: rgb(0, 80, 56);
        padding: 0 !important;
        position: fixed;
        top: 0;
        left: 0;
        color: #e9e9e9;
    }

    .lateral p {
        margin: 1rem auto;
        width: 70%;
    }

    .lateral #menu-cont div {
        margin: auto;
        width: 70%;
    }

    .lateral #menu-cont div a {
        color: #e9e9e9;
    }

    main {
        margin: 2.5rem auto;
        width: 80%;
    }
    
    a {
        color: #e9e9e9;
        font-size: 1.5rem !important;
    }

    .img-head {
        display: none;
    }

    h1 {
        margin-top: 5rem;
    }
}

/* TABLA */
.tabla {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2.5rem;
    padding-left: 5rem;
}

.row {
    display: flex;
    width: 100%;
}

.cell {
    display: table;
    width: 100%;
    border: 1px solid black;
}

.cell p {
    display: table-cell;
    padding: 0;
    text-align: center;
    height: 10rem;
    margin: auto !important;
    font-size: 2rem;
    vertical-align: middle;
}

.cell-img {
    height: 10rem;
    width: 30rem;
    border: 1px solid black;
}

.cell-img img {
    height: 80%;
    width: auto;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.58);
}

#pseudo .row .cell p {
    height: 5rem;
}

#unidimensional {
    margin-top: 1rem !important;
}

#unidimensional .row .cell p {
    height: 3rem;
}